.App {
  text-align: center;
  min-width: 100vw;
}


.App-header {
  background-color: #bfcff0;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.filtroBox{
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 0 0 50px 0;
}

h3 {
  margin: 0 20px;
}

.filtered {
  width: 300px;
  height: 30px;
  
  border-radius: 10px;
}

.teste {
  background-color: tomato;
}

.shopTitle {
  width: 80%;
  background-color: teal;
}

.Subtotal {
  color: red;
  margin-bottom: 20px;
  font-weight: bold;
}
